# 通过命令生成的最终静态文件无需入库
_prelease/


# bundling output 生产环境编译的代码无需上传
build/*
build
dist/*
dist

#临时文件
_prelease/
_previews/
_tmp/
.idea/
#static/




# Node Modules (use `npm install` to generate these)
node_modules/*
node_modules
../*


# OS X Junk
.DS_Store
npm-debug.log

# Not-Needed System Files
*.swp
*.bak
.svn/




